<h3>Projects</h3>

<p>These are just a few of the recent projects I've been a part of.</p>
<br>
<!--p style="text-align:center;"><b>Crosby</b> - A web-based application designed for tablet devices that measures and records a person's reaction time.</p>
<table>
	<tr>
		<td><img src="images/Crosby1.jpg" width="480px"/></td>
		<td><img src="images/Crosby2.jpg" width="480px"/></td>
	</tr>
</table>
<hr/>

<p style="text-align:center;"><b>Wheatley</b> - A web-based application designed for tablet devices and optimized for the Playbook that acts as a visitor sign-in system.</p>
<table>
	<tr>
		<td><img src="images/Wheatley1.jpg" width="480px"/></td>
		<td><img src="images/Wheatley2.jpg" width="480px"/></td>
	</tr>
</table>
<hr/-->

<p style="text-align:center;"><b>Yarn Shop</b> - A native iOS application that allows users to view and favourite all the yarn available at Camilla Valley Farm Weaver's Supply. Currently available for free in the App Store. More information available on the Yarn Shop App Store page.</p>
<A HREF="http://itunes.apple.com/app/yarn-shop/id507312566?mt=8/"><IMG SRC="images/YarnShop.png" style="display: block; margin-left: auto; margin-right: auto;" BORDER="0"></A>
</table>

(More of my recent projects coming soon)