<h3>Knowledge and Skills</h3>

<p>Here is a more in-depth view of my various skills than you will find on my resume. I have experience with all of the following:</p>

<p><h4>Platforms:</h4>
<ul>
	<li>iOS</li>
	<li>Android</li>
	<li>Blackberry Phone</li>
	<li>Playbook</li>
	<li>Mac OSX</li>
	<li>Windows</li>
</ul>
</p>

<p><h4>Languages:</h4>
<ul>
	<li>C</li>
	<li>C++</li>
	<li>Java</li>
	<li>JavaScript</li>
	<li>Actionscript</li>
	<li>Visual Basic</li>
	<li>Objective-C</li>
	<li>HTML (Including experience with HTML5)</li>
	<li>Ruby on Rails</li>
</ul>
</p>

<p><h4>Libraries:</h4>
<ul>
	<li>backbone.js</li>
	<li>require.js</li>
	<li>zepto.js</li>
	<li>jquery</li>
	<li>jquery mobile</li>
	<li>underscore.js</li>
	<li>Phonegap</li>
</ul>
</p>

<p><h4>Programs:</h4>
<ul>
	<li>Adobe Photoshop</li>
	<li>Adobe Flash</li>
	<li>Aptana Studio</li>
	<li>Open Office</li>
	<li>Microsoft Office</li>
	<li>XCode</li>
</ul>
</p>

<p><h4>Other Hobbies and Interests:</h4>
	<ul>
		<li>Founding Member of University of Waterloo Mobile Application Development Club</li>
		<li>Martial Arts</li>
		<li>Video Game Design</li>
		<li>Fantasy and Science Fiction Novels</li>
		<li>Member of Waterloo Science Fiction Club</li>
		<li>Member of Waterloo Euchre Club</li>
		<li>Complex Games</li>
		<li>Improvisational Theatre</li>
		<li>Philosophy</li>
		<li>Curling</li>
		<li>Ultimate Frisbee</li>
	</ul>
</p>