<h3>Projects</h3>

<p>These are just a few of the recent projects I've been a part of.</p>
<br>
<p style="text-align:center;"><b>Crosby</b> -  A tablet application designed using HTML5, Zepto.js, and Ruby on Rails to measure the reaction time of medical patients. Built to tablet devices with PhoneGap. </p><hr>
<p style="text-align:center;"><b>Foodlink</b> -  A mobile application for the Waterloo Region developed with HTML5, PhoneGap, and the Google Maps API. Designed to allow users to find local food stores. </p><hr>
<p style="text-align:center;"><b>Wheatley</b> -  A Playbook application designed using HTML5 designed as a sign-in system for companies. Keeps track of current guests, with many customizable fields for data. Also creates QR Code badges for guests, allowing them to scan to sign in instead of re-entering all other information. </p><hr>
<p style="text-align:center;"><b>FoodAtTheHub.com</b> -  An HTML website using Ruby on Rails to store information regarding food currently available at the Communitech Kitchen. Available at <a href="http://foodatthehub.com">www.foodatthehub.com</a></p><hr>
<p style="text-align:center;"><b>Yarn Shop</b> - A native iOS application that allows users to view and favourite all the yarn available at Camilla Valley Farm Weaver's Supply. Currently available for free in the App Store. More information available on the Yarn Shop App Store page.</p>
<A HREF="http://itunes.apple.com/app/yarn-shop/id507312566?mt=8/"><IMG SRC="images/YarnShop.png" style="display: block; margin-left: auto; margin-right: auto;" BORDER="0"></A></p><hr>
<p style="text-align:center;"><b>www.christophersturgess.com</b> -  An online resume built using backbone.js and require.js for the main website, as well as Sencha Touch 2.0 for the mobile site. Available <a href="http://www.christophersturgess.com">here</a>. </p><hr>
</table>