<h3>Future Goals</h3>

<p>My future plans revolve around video game design and development. I've always been passionate about video games. Not just playing them, but also about the code and underlying mathematics that make up a game. I hope to work in a career where I will be able to develop large-scale video games.</p>

<p>
	In the short term, however, I am currently seeking employment in any technology related field for the 4 month work term period beginning September 2012. I hope to use my Co-op opportunities to gain a large amount of experience in various technology-related fields.
</p>