<h3>Work History</h3>

<p>This is a brief history of the work I have done in the past few years.</p>

<h4>Work History</h4>

<b>Mobile Application Developer</b><br>
<i>Communitech</i>, Kitchener, Ontario, January 2012 - April 2012

<ul>
	<li>Used various web technologies to develop mobile applications on a wide range of devices</li>
	<li>Worked with other students to create a total of 4 mobile applications over the course of the workterm</li>
</ul>

<b>Mobile Application Developer</b><br>
<i>Camilla Valley Farm Weavers' Supply</i>, Orangeville, Ontario, August 2011- September 2011

<ul>
	<li>Developed an iOS application to organize and display yarn colour swatch samples to be used by the online retailer's customers to help make purchasing decisions</li>
</ul>

<b>Team Member</b><br>
<i>Tim Hortons</i>, Orangeville, Ontario, April 2009 - September 2010

<ul><li>Performed various functions including: front counter cashier, food preparation, unloading supply trucks and clean up.</li>
<li>Gained experience in customer relations and working within a team environment</li>
</ul>

<B>Web Designer</B><BR>
<I>Camilla Valley Farm Weavers' Supply</I>, Orangeville, Ontario, January 2006 - September 2010

<UL><LI>Created and updated content on website for online Internet retail mail order business providing knitting and weaving supplies and equipment to customers around the world.</li>
</UL>

<B>Volunteer Assistant</B><BR>
<I>Scouts Canada</I>, Orangeville, Ontario, September 2008 - June 2009

<UL>
	<li>Watched over Beaver's children group (5-7 year olds) during each session</li>
	<LI>Assisted group leaders with setup, operation and clean up of activities.</li>
</UL>

<B>Library Page</B><BR>
<I>Orangeville District Secondary School</I>, Orangeville, Ontario, September 2006 - June 2008

<UL><LI>Re-shelved Books at in-school library and performed shelf reading</li>
</UL>