<h3>Knowledge and Skills</h3>

<p>Here is a more in-depth view of my various skills than you will find on my resume. I have experience with all of the following:</p>

<p><h4>Languages:</h4>
<ul>
	<li>C</li>
	<li>C++</li>
	<li>Java</li>
	<li>JavaScript</li>
	<li>Actionscript</li>
	<li>Visual Basic</li>
	<li>Objective-C</li>
	<li>HTML (Including experience with HTML5)</li>
</ul>
</p>
<p><h4>Platforms:</h4>
<ul>
	<li>iOS</li>
	<li>Android</li>
	<li>Blackberry Phone</li>
	<li>Playbook</li>
	<li>Mac OSX</li>
	<li>Windows</li>
</ul>
</p>